:root {
    --lightblue: #cddee8;
    --mediumblue: #9ebcc7;
    --darkblue: #2f4248;

    --dark: #000;
    --red: #a2324c;
    --orange: #a28846;
    --blue: #336699;
    --green: #638b3f;
    --yellow: #ebd510;
}